.single-category {
    text-align: left;
    overflow-y: auto;
}
.bookmark-list{
    display: flex;
    flex-direction: row;
}
p {
    display: inline-block;
    width: 25rem;
}
button {
    margin-right: 0.5rem;
    margin-left: auto;
    height: 2rem;
    text-align: right;
}